body {
  padding-left: 30px;
  padding-right: 30px;
}

header {
  font-size: x-large;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

* {
  font-family: sans-serif;
  font-size: small;
}

label {
  font-weight: bold;
}

.row {
  display: flex;
  width: 36%;
}

.col-left-25 {
  float: left;
  width: 25%;
  padding: 8px;
  text-align: end;
}

.col-right-75 {
  float: left;
  width: 75%;
  padding: 8px;
}

.col {
  flex: 50%;
  padding: 5px;
}
/* 
.row:after {
  content: "";
  display: table;
  clear: both;
} */

label {
  display: inline-block;
}

input[type="text"],
textarea,
#sub_area,
button {
  width: inherit;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#sub_area {
  height: 150px;
}
select {
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#year {
  width: 50%;
}

#subjects {
  display: flex;
}

#operate_button {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submit_button {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#submit_button button {
  width: auto;
}
button {
  width: 50%;
  padding: 8px;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  /* resize: vertical; */
}

button:hover {
  background-color: #000;
  box-shadow: 0px 5px 5px rgba(2, 2, 2, 0);
  color: #fff;
  cursor: pointer;
  /* transform: translateY(-7px); */
}

#list table {
  text-align: left;
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

#list th {
  padding: 10px;
  border: 1px solid #ccc;
}

#list td {
  padding: 10px;
  border: 1px solid #ccc;
}
